body{
    background-color: rgb(254, 254, 3);
    background-repeat: no-repeat;
    background-size: cover;
    height:571px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 329px;
    height: 401px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px);
    align-items: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: black 6px 10px 50px;
    background-color: #000000;
  
}
.form h3{
    font-family: poppins;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.form .login{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.login input,button{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}
.login input{
    background-color: #9f95952e;
    font-family:sans-serif;
    letter-spacing: 1px;
    text-indent: 35px;
    background-image: url(login.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
    color: #ffffff;
}
.login input:nth-child(2){
    background-image: url(lock.png);
}
.login input::placeholder{
    font-size: 14px;
    color:rgb(255, 255, 255);
}
.login button{
    background-color: rgb(254 254 3);
    color: black;
    font-size: 16px;
    font-family:sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.login button:hover{
    background-color: #ffffff2e;
    transition: 0.5s;
}
.suggest{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: calibri;
    color: rgb(255, 248, 248);
}
.suggest .forgot{
    color:rgb(255, 255, 255) ;
    cursor: pointer;
}
.suggest .forgot:hover{
    color:#bfbc50fa;
    transition: 0.5s;
}



